body {
    font-family: sans-serif;
    text-align: center;
    padding-top: 50px;
}

button {
    padding: 20px 40px;
    font-size: 24px;
    margin: 10px;
    cursor: pointer; /* マウスカーソルを指の形にする */
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s;
}

#correct-button {
    background-color: #4CAF50; /* 緑 */
    color: white;
}

#correct-button:hover {
    background-color: #45a049;
}

#incorrect-button {
    background-color: #f44336; /* 赤 */
    color: white;
}


#incorrect-button:hover {
    background-color: #da190b;
}
